<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .Style5 {
            position:absolute;
            left: 80px;
            top: 155px;
            font-family: Calibri;
            font-size: 56px;
            color:#FFFFFF;}

        .bg {
            /* The image used */
            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background: url("../images/ma_montagne.jpg") no-repeat center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bg"></div>
<a class="Style5" href="http://www.niderb.com/admin">GROUPE BERDIN</a>
</body>
</html>
