{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

    <a type="button" class="btn btn-success btn-lg" href="{{ path('security_login')}}"> Connexion</a>

    </div>

{% endblock %}